@font-face {
  font-family: 'TemplateFont';
  src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  margin: 1.5rem 1.5rem ;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
}
html{
  font-size: 110%;
}
body, main {
  font-family: 'TemplateFont', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  color: hsl(0, 0%, 100%);
  font-size: small;
  font-weight: bold;
}
.card {
  margin: auto;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: hsl(0, 0%, 12%);
  width: 340px;
}
.profile-details .name{
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}
.profile-details .address{
  color: hsl(75, 94%, 57%);;
  margin-bottom: 0.8rem;
}
.profile-details .position{
  color: rgb(200, 200, 200);
  margin-bottom: 0.8rem;
  font-weight:lighter;

} 
.links-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  width: 90%;
}
.links-list li a{
  text-decoration: none;
  color: inherit;
}
/* li {
  text-align: center;
  list-style: none;
  padding: 0.6rem;
  margin: 0.5rem auto;
  border-radius: 0.4rem;
  background-color: hsl(0, 0%, 20%);
  width: 90%;
} */
.list-item {
  text-align: center;
  list-style: none;
  padding: 0.6rem;
  margin: 0.5rem auto;
  border-radius: 0.4rem;
  background-color: hsl(0, 0%, 20%);
  width: 90%;
}
li:hover {
  transition: 0.8s;
  background-color: hsl(75, 94%, 57%);
  color: black;
}
.address {
  color: hsl(75, 94%, 57%);
}
footer.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}
footer.attribution a {
  color: hsl(228, 45%, 44%);
}
.instagram-text {
  font-weight: bold;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari and Chrome */
  -webkit-text-fill-color: transparent; /* Makes the background visible as text */
  text-align: center;
}
.twitter-text {
  color: rgb(29, 161, 242);
}